@use '../base/_variables.scss' as vars;
@import '../base/_mixins.scss';

.backbutton {
    height: 94px;
    width: 94px;
    border-radius: 100%;
    @include grid-center;
    background: linear-gradient(to bottom, vars.$pink 50%, vars.$light-blue);
}