// variables::::::

$pink: #FE71FE;
$light-blue: #7199FF;
$dark-navy: #261676;
$blue: #2463FF;
$white: #fff;
$blueish-grey: #D0D6F9;
$black: black;
$heading-xl: 90px;
$heading-l: 66px;
$heading-m: 38px;
$heading-sm: 26px;
$body: 26px;